.footer {
  max-width: 192rem;
  height: 53rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  margin: 15rem auto 0;
  background-color: $black;

  .logo {
    margin-top: 12rem;
  }

  .info {
    width: 16rem;
    height: 16.8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;

    @include typography-500;
    @include links-style;
    color: $white;

    .messengers {
      @include messengers;
    }
  }
  .signature {
    color: $white;
    position: relative;
    bottom: 0rem;
    @include typography-500;
    @include links-style;
  }
}
