.header {
  max-width: 192rem;
  height: 108rem;
  margin: 0 auto;
  background-image: url(./../assets/header-bg.png);
  background-size: 192rem 108rem;
  background-repeat: no-repeat;
  color: $white;

  .header-menu-container {
    position: fixed;
    top: 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-height: 17rem;
    width: 100%;
    max-width: 192rem;
    z-index: 10;
    background: #000000;

    .logo {
      width: 15rem;
      height: 4.5rem;
    }

    .navigation {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .connection-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 3rem 0 0;

        .messengers {
          @include messengers;
          margin: 0 5.5rem 0 0;
        }

        .contacts {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          @include typography-600;
          @include links-style;
        }
      }

      .menu {
        display: flex;
        justify-content: flex-end;
        gap: 7rem;
        max-width: 70em;
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;
        @include typography-600;
        @include links-style;
        letter-spacing: 0.03em;
      }
    }
  }

  .header-text-container {
    position: relative;
    top: 27rem;
    width: 80rem;
    margin-left: calc(100vw / 7);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .header-main-text {
      @include typography-800;
      letter-spacing: 0.03em;
    }

    .header-description-text {
      max-width: 62rem;
      margin-top: 1.5rem;
      @include typography-400;
      letter-spacing: 0.03em;
    }

    .btn-header {
      width: 29.6rem;
      height: 7.3rem;
      margin-top: 7rem;
      @include typography-700;
      background: $main;
    }

    .btn-header:hover {
      background: $main-dark;
    }
  }
}
