.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25rem;
  margin: auto;
  gap: 8rem;

  .services-title {
    @include typography-800-v2;
    color: $main;
  }

  .services-container {
    display: flex;
    justify-content: space-between;
    max-width: 126rem;

    .services-names {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 30rem;
      height: 60rem;

      .type {
        @include typography-700-v2;
        color: $gray;
      }

      .type:hover {
        cursor: pointer;
        color: $main;
      }

      .arrow-small {
        width: 2rem;
        height: 2rem;
      }
    }

    .services-table {
      max-height: 60rem;
      overflow-y: auto;

      table {
        max-width: 80rem;
        vertical-align: middle;

        tr {
          @include typography-400-v5;
          color: $black;

          th {
            @include typography-700;
            padding: 1.5rem 4rem;
            white-space: nowrap;
            background-color: $main;
            color: $white;
          }

          td {
            padding: 1.5rem 4rem;
            text-align: center;
          }

          td:first-child {
            text-align: start;
          }
        }
      }
    }
  }
}

@media screen and (max-device-width: 800px) {
  .services {
    padding-top: 14rem;
    gap: 5.6rem;

    .services-title {
      @include typography-800-mobile-v2;
    }

    .services-container {
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      max-width: 33rem;

      .services-names {
        flex-direction: row;
        gap: 2rem;
        width: auto;
        height: 10rem;
        overflow-x: scroll;

        .type {
          @include typography-700-mobile;
        }

        .arrow-small {
          transform: rotate(90deg);
        }
      }

      .services-table {
        max-height: 60rem;
        overflow-y: auto;

        table {
          max-width: 30rem;
          vertical-align: middle;

          tr {
            th {
              @include typography-700-mobile-v2;
              padding: 2rem 1rem;
              white-space: normal;
            }

            td {
              padding: 2rem 1rem;
              max-width: 13.5rem;
            }
          }
        }
      }
    }
  }
}
