.projects {
  display: flex;
  flex-direction: column;
  padding-top: 25rem;
  margin: 0 auto;
  gap: 8rem;

  .projects-title {
    @include typography-800-v2;
    color: $main;
  }

  .swiper {
    max-width: 126rem;
    max-height: 80rem;

    .card {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      border: none;

      .card-img {
        width: 40.6rem;
        height: 54.1rem;
      }

      .card-title {
        .card-name {
          @include typography-400-v3;
          letter-spacing: 0.15em;
          text-transform: uppercase;
          color: $black;
        }

        .card-type,
        .card-square,
        .card-price {
          @include typography-600;
          margin-top: 0.5rem;
          margin-right: 1.5rem;
          color: $gray-alt;
        }

        .card-description {
          @include typography-300;
          margin-top: 2rem;
          color: $black;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .projects {
    .swiper {
      max-width: 85rem;
    }
  }
}
