.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25rem;
  margin: auto;
  gap: 8rem;

  .services-title {
    @include typography-800-v2;
    color: $main;
  }

  .services-container {
    display: flex;
    justify-content: space-between;
    max-width: 126rem;

    .services-names {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 30rem;
      height: 60rem;

      .type {
        @include typography-700-v2;
        color: $gray;
      }

      .type:hover {
        cursor: pointer;
        color: $main;
      }

      .arrow-small {
        width: 2rem;
        height: 2rem;
      }
    }

    .services-table {
      max-height: 60rem;
      overflow-y: auto;

      table {
        max-width: 80rem;
        vertical-align: middle;

        tr {
          @include typography-400-v5;
          color: $black;

          th {
            @include typography-700;
            padding: 1.5rem 4rem;
            white-space: nowrap;
            background-color: $main;
            color: $white;
          }

          td {
            padding: 1.5rem 4rem;
            text-align: center;
          }

          td:first-child {
            text-align: start;
          }
        }
      }
    }
  }
}
