.services {
  display: flex;
  flex-direction: column;
  padding-top: 25rem;
  margin: 0 auto;
  gap: 8rem;

  .services-title {
    font-style: normal;
    font-weight: 800;
    font-size: 5.6rem;
    line-height: 7rem;
    color: $main;
  }

  .services-container {
    display: flex;
    width: 126rem;
    gap: 5rem;

    .services-names {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 30rem;
      height: 60rem;

      .type {
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.7rem;
        color: $gray;
      }

      .type:hover {
        color: $main;
        cursor: pointer;
      }

      .arrow-small {
        width: 2rem;
        height: 2rem;
      }
    }

    .services-table {
      max-height: 60rem;
      overflow-y: auto;

      table {
        max-width: 80rem;
        vertical-align: middle;

        tr {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: $black;

          th {
            background-color: $main;
            color: $white;
            font-style: normal;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.5rem;
            padding: 1.5rem 4rem;
            white-space: nowrap;
          }

          td {
            padding: 1.5rem 4rem;
            text-align: center;
          }

          td:first-child {
            text-align: start;
          }
        }
      }
    }
  }
}
