.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 22rem;
  margin: 0 auto;
  max-width: 68rem;
  gap: 4rem;
  color: $gray;

  .questions-title {
    @include typography-800-v2;
    white-space: nowrap;
  }

  .questions-description {
    @include typography-400-v4;
  }

  .btn-questions {
    width: 31.6rem;
    height: 8.5rem;
    @include typography-700;
    color: $main;
  }

  .btn-questions:hover {
    background-color: $main;
    color: $white;
  }
}

@media screen and (max-device-width: 800px) {
  .questions {
    padding-top: 14rem;
    max-width: 30rem;
    gap: 3.2rem;

    .questions-title {
      @include typography-800-mobile-v2;
      white-space: normal;
    }

    .questions-description {
      @include typography-400-mobile-v2;
    }
  }
}
