.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12rem;
  padding-top: 20rem;
  margin: auto;
  max-width: 126rem;

  .about-text-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 62rem;
    max-height: 60.5rem;

    .about-title {
      width: 15.5rem;
      height: 7rem;
      @include typography-800-v2;
      color: $main;
    }

    .about-text {
      @include typography-400-v2;
      color: $black;
    }

    .about-text-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      @include typography-600;
      color: $black;
    }

    .about-text-icons img {
      margin-bottom: 1.5rem;
    }
  }

  .about-img {
    max-width: 51.3rem;
    width: calc(100vw / 3);
  }
}

@media screen and (max-device-width: 800px) {
  .about {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 14rem;
    margin: auto;
    max-width: 30rem;

    .about-text-container {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      max-width: 62rem;
      max-height: 87rem;

      .about-title {
        width: 10rem;
        height: 40rem;
        @include typography-800-mobile-v2;
      }

      .about-text {
        margin-top: 5.6rem;
        @include typography-400-mobile-v2;
      }

      .about-text-icons {
        margin-top: 2.4rem;
        flex-direction: column;
        gap: 1.6rem;
      }

      .about-text-icons img {
        margin-bottom: 1.5rem;
      }
    }

    .about-img {
      @include visually-hidden;
    }
  }
}
