@mixin links-style {
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: $white;
  }
  a:hover {
    color: $main;
  }
}

@mixin messengers {
  display: flex;
  justify-content: space-between;
  width: 9rem;
  height: 2rem;

  a:hover {
    transform: scale(130%);
  }
}

@mixin svg-active-color {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(18%) sepia(98%) saturate(2165%)
    hue-rotate(356deg) brightness(110%) contrast(91%);
}

@mixin typography-300 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
}
@mixin typography-400 {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
}

@mixin typography-400-v2 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

@mixin typography-400-v3 {
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 100%;
}

@mixin typography-400-v4 {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

@mixin typography-400-v5 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

@mixin typography-400-mobile-v2 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

@mixin typography-400-mobile {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

@mixin typography-500 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

@mixin typography-600 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

@mixin typography-700 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

@mixin typography-700-v2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.7rem;
}

@mixin typography-800 {
  font-style: normal;
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 9.8rem;
}

@mixin typography-800-v2 {
  font-style: normal;
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 7rem;
}

@mixin typography-800-mobile {
  font-style: normal;
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 4.8rem;
}

@mixin typography-800-mobile-v2 {
  font-style: normal;
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4rem;
}
